[Desktop Entry]
Name=Wakefield OpenJDK Java 19 Shell
Comment=Wakefield OpenJDK Java 19 Shell
Keywords=java;shell
Exec=/usr/lib/jvm/java-19-openjdk-wakefield/bin/jshell
Terminal=true
Type=Application
Icon=java19-openjdk
Categories=Application;System;
